html {
    text-transform: capitalize;
    background-color: #f5f5f5;
}

body {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .05));;
}

.pure-form input[type=file]:focus, .pure-form input[type=checkbox]:focus, .pure-form input[type=radio]:focus {
    outline: #fb7299 auto 1px;
}

hr {
    border-top: 1px solid #efefef;
    margin: 0.5em 0;
}

a.pure-menu-link:hover {
    color: #fb7299 !important;
}

h1.splash-head {
    color: #fb7299;
    font-family: sans-serif;
}

.banner {
    text-align: center;
}

.login {
    text-align: center;
}

.register {
    text-align: center;
}

.content {
    padding: 0 1em 1em 1em;
}

.content-wrapper {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #f5f5f5;
}

.main-wrapper {
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    background: #f5f5f5;
}

.main-content {
    padding-left: 1em;
    padding-right: 1em;
}

.splash-container {
    background-image: url("/static/images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.home-menu {
    /*background-color: #fb7299;*/
    background-color: hsla(0, 0%, 0%, 0);
    box-shadow: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.home-menu .pure-menu-heading {
    color: #fb7299;
    font-family: sans-serif;
    font-weight: bolder;
    padding-left: 2em;
    padding-right: 2em;
}

.custom-menu-wrapper {
    background-color: hsla(0, 0%, 100%, .4);
    margin: 0 0 0 0;
    /*padding-right: 2em;*/
    /*padding-left: 2em;*/

}

.pic-input:focus {
    border-color: #fb7299 !important;
}

.pic-button {
    background-color: #fb7299;
}

.pic-box {
    margin: 1em;
}

.banner-container {
    background: #fafafa;
    display: block;
    text-align: center;
}

.banner {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 9em;
    font-weight: lighter;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.banner::before {
    left: 0;
    display: block;
    position: absolute;
    vertical-align: center;
    /*top: 28px;*/
    top: 0.4em;
    width: 18%;
    content: "";
    border-top: 1px solid #cccccc;
}

.banner::after {
    right: 0;
    display: block;
    position: absolute;
    vertical-align: center;
    /*top: 28px;*/
    top: 0.4em;
    width: 18%;
    content: "";
    border-top: 1px solid #cccccc;
}

.pic-menu .custom-menu-toggle .bar {
    background-color: #fb7299;
}

.pic-menu-link {
    color: #222222 !important;
}

/*.usr-button {*/
/*padding-top: 0.5em;*/
/*padding-bottom: 1em;*/
/*}*/

input.recharge {
    margin-bottom: 0 !important;
    width: auto !important;
}

textarea.pic-input {
    width: 100% !important;
}

.photo-box-caption {
    display: none;
}

.photo-box {
    padding: 0.5em;
}

.photo-box:hover {
    transform: translateY(-1px);
}

.photo-box img {
    border-radius: 0.35em;
}

.photo-box-caption aside {
    position: absolute;
    font-size: 90%;
    text-align: left;
    bottom: 1.2em;
    left: 1.5em;

}

.photo-button {
    position: absolute;
    font-size: 85%;
    text-align: left;
    top: 1.3em;
    left: 1.5em;
}

.delele-button {
    padding: 0.5em 1em;
    border-radius: 0 0.18em 0.18em 0;
}

.edit-button {
    padding: 0.5em 1em;
    border-radius: 0.18em 0 0 0.18em;
    background-color: white;
    color: #fb7299;
}

.new-button {
    padding: 0.5em 1em;
    border-radius: 0.18em;
}

.work-button {
    text-align: left;
    position: relative;
    margin-bottom: 1em;
}

i.fa.fa-search-plus {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.6em;
}

i.fa.fa-search-plus:hover {
    background: rgb(230, 230, 230);
    border-radius: 2em;
}

.fav-button {
    padding: 0.5em 1em;
    border-radius: 0.2em 0 0 0.2em;
    background-color: rgb(238, 238, 238);
    color: #fb7299;
}

.dload-button {
    padding: 0.5em 1em;
    border-radius: 0 0.2em 0.2em 0;
}

.pure-form input[type] {
    text-align: left !important;
}

.custom-search {
    position: relative;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-bottom: 1.2em;
    border: 1px solid #ededed;
    background-color: #fafafa;
    border-radius: 0.2em;
}

.custom-search .pure-form {
    margin: 0.75em;
}

.custom-search input[type] {
    margin: 0;
}

.custom-search .pure-button {
    width: 94%;
}

.search-cate {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.tags {
    border-top: 1px solid #EDEDED;
    position: relative;
    padding-bottom: 0;
}

.tag {
    font-size: 0.87em;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 1.4em;
    color: #777;
    border-right: 1px solid #EDEDED;
    display: inline-block;
    text-decoration: none;
}

.pin {
    background: #fff;
    color: #444;
    font-weight: 700;
}

.detail {
    padding-right: 1.7em;
}

@media only screen and (max-width: 480px) {
    .pure-form button[type=submit] {
        margin: 0 0 0 0 !important;
    }
}

.recommend-line {
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.recommend-line a {
    color: #999;
}

.recommend-line::before {
    left: 0;
    display: block;
    position: absolute;
    top: 28px;
    width: 44%;
    content: "";
    border-top: 1px solid #dddddd;
}

.recommend-line::after {
    right: 0;
    display: block;
    position: absolute;
    top: 28px;
    width: 44%;
    content: "";
    border-top: 1px solid #dddddd;
}

input#chooseImage {
    border: none;
}

input#updateimage {
    border: none;
}

.work-wrapper {
    position: relative;
    background: white;
    border-radius: 0.6em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.work-content {
    margin: 1em 1.5em;
}

.work-img {
    width: 100%;
    border-radius: 0.5em;
}

.work-side a {
    font-weight: bolder;
}

.work-side {
    font-size: 95%;
    text-align: left;
    position: relative;
    margin-top: 0.5em;
}

.work-side div {
    display: inline-block;

}

.work-detail {
    margin-right: 1em;
    margin-bottom: 0.3em;
}

.work-tag {
    background: #f4f4f4;
    border: 1px solid #dddddd;
    padding-left: 0.5em;
    padding-right: 1em;
    margin-right: 0.2em;
    border-radius: 0.5em;
    color: #999;
}

.work-tag a {
    font-weight: normal;
    color: #444;
}

.work-tags {
    font-size: 90%;
    margin-bottom: 0.3em;
}

.work-intro {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}