<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心 - 作品上传</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="static/css/layouts/marketing-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/layouts/menu.css">
    <link rel="stylesheet" href="/static/css/layouts/header.css">
    <link rel="stylesheet" href="/static/css/layouts/mypics.css">

    <!--<![endif]-->
</head>
<body>
<div class="header">
    <div class="custom-menu-wrapper pure-menu-fixed">
        <div class="home-menu pure-menu-horizontal pure-menu custom-menu custom-menu-top">
            <a href="#" class="pure-menu-heading custom-menu-brand">个人中心</a>
            <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked"
             id="tuckedMenu">
            {#            <div class="custom-menu-screen"></div>#}
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'index' %}" class="pure-menu-link">管理</a></li>
                <li class="pure-menu-item"><a href="{% url 'upload' %}" class="pure-menu-link">上传</a></li>
                <li class="pure-menu-item"><a href="{% url 'myfavorite' %}" class="pure-menu-link">收藏</a></li>
                <li class="pure-menu-item"><a href="{% url 'recharge' %}" class="pure-menu-link">充值</a></li>
                <li class="pure-menu-item"><a href="/home/" class="pure-menu-link">返回主站</a></li>
                {% ifequal username 'login' %}
                    <li class="pure-menu-item"><a href="/myapp/{{ username }}"
                                                  class="pure-menu-link"> {{ username }} </a></li>
                {% else %}
                    <li class="pure-menu-item"><a href="{% url 'index' %}" class="pure-menu-link"> {{ username }} </a>
                    </li>
                {% endifequal %}
                <li class="pure-menu-item"><a href="/myapp/logout" class="pure-menu-link"> 注销 </a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <h1>
            上传作品
        </h1>
    </div>
</div>
<div>
    <div class="pure-g">
        <div class="pure-u-8-24"></div>
        <div class="pure-u-8-24">
            <form class="pure-form pure-form-stacked" action="{% url 'handleupload' %}" method="post" id="upload_form"
                  name="upload_form"
                  enctype="multipart/form-data">{% csrf_token %}
                <fieldset>
                    <input type="file" accept="image/*" id="chooseImage" name="original">
                    <input type="text" placeholder="标题" name="title">
                    <input class="pure-input-1" type="text" placeholder="描述" name="description">
                    <label for="category">分类</label>
                    <select id="category" name="category">
                        <option value="animation">动漫</option>
                        <option value="food">美食</option>
                        <option value="scenery">风景</option>
                        <option value="people">人像</option>
                        <option value="other">其它</option>
                    </select>
                    <input type="number" placeholder="定价" name="price"><br>

                    <input class="pure-button" type="submit" value="上传">
                </fieldset>


            </form>
        </div>
        <div class="pure-u-8-24"></div>
    </div>

</div>
</body>
<script>
    (function (window, document) {
        document.getElementById('toggle').addEventListener('click', function (e) {
            document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
            document.getElementById('toggle').classList.toggle('x');
        });
    })(this, this.document);
</script>
</html>
