<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心 - 充值</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="static/css/layouts/marketing-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/layouts/menu.css">
    <link rel="stylesheet" href="/static/css/layouts/header.css">
    <link rel="stylesheet" href="/static/css/layouts/mypics.css">
    <link rel="stylesheet" href="/static/css/layouts/gallery.css">

    <!--<![endif]-->
</head>
<body>
<div class="header">
    <div class="custom-menu-wrapper pure-menu-fixed pic-menu">
        <div class="home-menu pure-menu-horizontal pure-menu custom-menu custom-menu-top">
            <a href="{% url 'index' %}" class="pure-menu-heading custom-menu-brand">个人中心</a>
            <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked"
             id="tuckedMenu">
            {#            <div class="custom-menu-screen"></div>#}
            <ul class="pure-menu-list pic-menu-heading">
                {#                <li class="pure-menu-item"><a href="{% url 'index' %}" class="pure-menu-link pic-menu-link">管理</a></li>#}
                <li class="pure-menu-item"><a href="{% url 'upload' %}" class="pure-menu-link pic-menu-link">上传</a></li>
                <li class="pure-menu-item"><a href="{% url 'myfavorite' %}" class="pure-menu-link pic-menu-link">收藏</a>
                </li>
                <li class="pure-menu-item"><a href="{% url 'recharge' %}" class="pure-menu-link pic-menu-link">充值</a>
                </li>
                <li class="pure-menu-item"><a href="/home/" class="pure-menu-link pic-menu-link">返回主站</a></li>
                <li class="pure-menu-item "><a href="/myapp/logout" class="pure-menu-link pic-menu-link"> 注销 </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-container pure-g">
    <div class="banner pure-u-1">
        <h1>充值</h1>
    </div>
</div>
<div class="main-wrapper">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-8-24"></div>
        <div class="pure-u-1 pure-u-md-3-5 pure-u-lg-8-24">
            <form class="pure-form pure-form-stacked" action="../recharge/" method="post">
                {% csrf_token %}
                <h4> 账户余额：{{ balance }} 豆豆</h4>
                <label></label><br/>
                <label>账户名 <input class="pic-input " type="text" name="user_id" class="form-control col-sm-2"/> </label><br/><br/>
                <label><input class="pic-input " name="query" type="radio" value=50 required/>50豆豆/10元 </label>
                <label><input class="pic-input " name="query" type="radio" value=100 required/>100豆豆/20元 </label>
                <label><input class="pic-input " name="query" type="radio" value=200 required/>200豆豆/38元 </label>
                <label><input class="pic-input " name="query" type="radio" value=300 required/>300豆豆/55元 </label>
                <br/>
                <button class="pure-button pure-button-primary pic-button" onclick="myFunction()" type="submit"
                        class="btn btn-info">充值
                </button>
            </form>
        </div>

        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-8-24"></div>

    </div>

</div>
</body>
</html>
