<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="static/css/layouts/marketing-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/layouts/menu.css">
    <link rel="stylesheet" href="/static/css/layouts/header.css">
    <link rel="stylesheet" href="/static/css/layouts/mypics.css">
    <link rel="stylesheet" href="/static/css/layouts/gallery.css">
    <!--<![endif]-->
</head>

<body>
<div class="header">
    <div class="custom-menu-wrapper pure-menu-fixed pic-menu">
        <div class="home-menu pure-menu-horizontal pure-menu custom-menu custom-menu-top">
            <a href="#" class="pure-menu-heading custom-menu-brand">MyPics</a>
            <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked"
             id="tuckedMenu">
            {#            <div class="custom-menu-screen"></div>#}
            <ul class="pure-menu-list pic-menu-heading">
                <li class="pure-menu-item "><a href="/home" class="pure-menu-link pic-menu-link">首页</a></li>
                <li class="pure-menu-item "><a href="/show/animation" class="pure-menu-link pic-menu-link">动漫</a></li>
                <li class="pure-menu-item"><a href="/show/food" class="pure-menu-link pic-menu-link">美食</a></li>
                <li class="pure-menu-item "><a href="/show/scenery" class="pure-menu-link pic-menu-link">风景</a></li>
                <li class="pure-menu-item "><a href="/show/people" class="pure-menu-link pic-menu-link">人像</a></li>
                <li class="pure-menu-item "><a href="/show/other" class="pure-menu-link pic-menu-link">其它</a></li>
                {% ifequal username 'login' %}
                    <li class="pure-menu-item ">
                        <a href="/myapp/{{ username }}" class="pure-menu-link pic-menu-link"> {{ username }} </a>
                    </li>
                {% else %}
                    <li class="pure-menu-item "><a href="{% url 'index' %}"
                                                   class="pure-menu-link pic-menu-link"> {{ username }} </a>
                    </li>
                {% endifequal %}
                <li class="pure-menu-item "><a href="/myapp/logout" class="pure-menu-link pic-menu-link"> 注销 </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-container pure-g">
    <div class="banner pure-u-1">
        <a>{{ title }}</a>
    </div>
</div>
<div class="main-wrapper">
    <div class="work-wrapper">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-lg-3-5">
                <div class="work-content">
                    <img class="pure-img-responsive work-img" src={{ path }}>
                </div>
            </div>
            <div class="pure-u-1 pure-u-lg-2-5">
                <div class="work-content">
                    <h4>{{ title }}</h4>
                    <p>作者： {{ author }}</p>
                    <p>图片描述： {{ description }}</p>
                    <p>收藏数：{{ favourite }}</p>
                    <p>价格：{{ price }}</p>
                    <p>标签：{{ category }}</p>
                    <button class="pure-button pure-button-primary pic-button" onclick="myFunction()">下载</button>
                    <button class="pure-button pure-button-primary pic-button"
                            onclick="window.location.href='{% url 'myapp:collect' %}'">收藏
                    </button>

                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>
<script>
    function myFunction() {
        var opt ={{ is_download|safe }};
        var r;
        var price ={{ price|safe }};
        var is_login ={{ is_login|safe }};
        var is_myself ={{ is_myself|safe }};
        if (is_myself == 0) {

            if (is_login == 1) {
                if (opt == 0) {
                    r = confirm("确认要下载吗,将花费" + price);
                }
                else {
                    r = confirm("您已下载过该图片，一个月内可以免费重复下载")
                }
                var pid ={{ p_id|safe }};
                if (r == true) {
                    window.location.href = '{% url 'myapp:download' %}';
                }
                else {
                    window.location.href = '/myapp/test/' + pid;
                }
            }
            else {
                alert('请先登录');
                window.location.href='/myapp/login';
            }
        }
        else {
            if (is_login == 1) {
                window.location.href = '{% url 'myapp:download' %}';
            }
            else {
                alert('请先登录');
                window.location.href='/myapp/login';
            }
        }
    }</script>


